											
<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
	<a class="home" href="/" title="Return to Home"><i class="icon-home"></i></a>
			<span class="navigation-pipe">&gt;</span>
						User Account
			</div>
<!-- /Breadcrumb -->

							<div id="slider_row" class="row">
							</div>
					<div class="row">
<div id="center_column" class="center_column col-xs-12 col-sm-12">
	<h1 class="page-heading">{{user.name}}'s Account Settings</h1>


	<!---->
	<div class="row">
		<div class="col-xs-12 col-sm-6">
          
          
          
			<form action="#" method="post" id="create-account_form" class="box">
				<h3 class="page-subheading">Update Your Settings</h3>
				<div class="form_content clearfix">
					<p>Update your password</p>
					<div class="alert alert-danger" id="create_account_error" style="display:none"></div>
					<div class="form-group">
						<label for="password">Old Password</label>
						<input type="password" class="form-control" id="password" name="password"/>
					</div>
                    <div class="form-group">
						<label for="password">New Password</label>
						<input type="password" class="form-control" id="password" name="password"/>
					</div>
                    <div class="form-group">
						<label for="password">Confirm Password</label>
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"/>
					</div>
					<div class="submit">
						<input type="hidden" class="hidden" name="back" value="my-account" />						<button class="btn btn-default button button-medium exclusive" type="submit" id="SubmitCreate" name="SubmitCreate">
							<span>
								<i class="icon-user left"></i>
								Update Password
							</span>
						</button>
						<input type="hidden" class="hidden" name="SubmitCreate" value="Create an account" />
					</div>
				</div>
			</form>
		</div>

  
  <!---->
		<div class="col-xs-12 col-sm-6">
          
			<form action="#" method="post" id="create-account_form" class="box">
				<h3 class="page-subheading">Account Actions</h3>
				<div class="form_content clearfix">
				  <div>
                    <label>Update Information</label>
                  </div>
                  <div>
                    <a href="#">Change Email</a>
                  </div>
                  <div>
                    <a href="#">Change Address</a>
                  </div>
                  <div>
                    <a href="#">Change Account Type</a>
                  </div>
                  <div>
                    <a href="#">Add Payment Option</a>
                  </div>
                  <div>
                    <label>Actions</label>
                  </div>
                  <div>
                    <a href="#">View Previous Transactions</a>
                  </div>
                  <div>
                    <a href="#">Dispute an Order</a>
                  </div>
                  <div>
                    <a href="#">Deactivate Account</a>
                  </div>
                  <div>
                    <a href="#">Delete Account</a>
                  </div>
                  
				</div>
			</form>
		</div>
	</div>
  <br>
						</div><!-- #center_column -->
										</div><!-- .row -->
				</div><!-- #columns -->
			</div><!-- .columns-container -->
							